// https://sass-lang.com/guide
$rhythm: 20px;

$sideMargin: $rhythm*1.2;
$invoiceMaxWidth: 800px;
$borderRadius: 4px;
$fontSizeInvoice: 0.6em;

$boxBgColor: #eee;
$bgColor: white;
$addColor: darkgreen;
$removeColor: darkred;

$fontFamilyText: "Times New Roman", "DejaVu Serif", "FreeSerif", serif;
$fontSizeNotes: 0.96em;
$fontSizeMajorHeading: 18pt;

/*
The first value passed to repeat() is the number of repetitions
and the second value is the grid tracks to repeat, e.g
    grid-template-rows: repeat(2, 100px auto 20%); =>
    grid-template-rows: 100px auto 20% 100px auto 20px;
*/
$tableColumns: [date] 3fr [description] 5fr repeat(2, 1.2fr) [x icon] .4fr .4fr;

%flex-center {
  //display: flex;
  //justify-content: center;
  align-items: center;
}

.text {
  font-family: $fontFamilyText;
}

// the same CSS syntax in a DIV or SPAN produce different effects
div.hangingIndent {
  padding-left: 7.2em;
  text-indent: -7.2em;
}
