@import 'main';

.invoice {
  margin: ($rhythm * 2) auto;
  max-width: $invoiceMaxWidth;
  border-width: 0;
}

.mainTitle {
  padding-top: 0;
  padding-bottom: $rhythm/2;
  margin-left: $sideMargin;
  margin-right: $sideMargin;
  font-weight: bold;
  font-size: 20pt;
}

.description {
  display: grid;
  margin-left: $sideMargin;
  margin-right: $sideMargin;
  margin-bottom: $rhythm / 2;

  grid-template-columns: // auto-fill or auto-fit to prevent grid wrapping
          repeat(auto-fit, 1fr);
  grid-column-gap: 2px;
  .key {
    margin-top: $rhythm / 4;
    font-style: oblique;
    .value {
      font-style: normal;
    }
    .name {
      font-weight: bold;
    }
  }
}

.headers {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: $rhythm / 6;
  .major {
    font-size: $fontSizeMajorHeading;
    font-weight: bold;
  }
  .label {
    font-style: oblique;
  }
}

.totalContainer {
  display: flex;
  flex-flow: row wrap;
}

.controls {
  display: grid;
  // auto-fill or auto-fit to prevent grid wrapping
  grid-template-columns: 5em 3em 3em 3em 4em;
  grid-column-gap: 0.5em;
  justify-self: start;
}

.lineItems {
  margin-bottom: $rhythm * 4;
}

.rule {
  // margin: <top> <right> <bottom> <left>
  margin: -10pt $sideMargin*2.4 10px $sideMargin;
  border-top: 4px double;
  padding: 0;
}

.valueTable {
  margin-right: $sideMargin;
  margin-left: $sideMargin;
  border: 3px double;
  border-radius: $borderRadius;
  overflow: hidden;
  min-width: $invoiceMaxWidth / 3;
  max-width: $invoiceMaxWidth / 3;
  display: grid;
  grid-template-columns: 1.4em auto;
  & > .title {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: $rhythm / 4;
    font-size: 0.94em;
    font-style: oblique;
  }
  & > .label {
    @extend %flex-center;
    align-items: center;
  }
}

.valueTable:after {
  //border: solid 4px #c00;
  //padding: 5px;
  //border-radius: 5px;
  //zoom: 1;
  //z-index: 1;
  //filter: alpha(opacity=40);
  //-webkit-text-shadow: 0 0 2px #c00;
  //top: 0;
  position: absolute;
  left: $rhythm*5;
  content: "PAID";
  font-family: Arial, sans-serif;
  -webkit-transform: $rotateDeg; /* Safari */
  -moz-transform: $rotateDeg; /* Firefox */
  -ms-transform: $rotateDeg; /* IE */
  -o-transform: $rotateDeg; /* Opera */
  transform: $rotateDeg;
  font-size: 3.6em;
  color: #c00;
  opacity: 0.4;
  text-shadow: 0 0 2px #c00;
  box-shadow: 0 0 2px #c00;
}

.totalLine {
  display: grid;
  grid-template-columns: $tableColumns;
  margin-left: $rhythm;
  text-align: right;
  & > div {
    border-top: $border;
    border-bottom: $border;
    &:first-of-type {
      border-left: $border;
    }
    &:last-of-type {
      border-right: $border;
    }
  }
}

.note {
  margin: 0 $sideMargin $rhythm/4 $sideMargin;
  & > .text {
    font-size: $fontSizeNotes;
    font-family: $fontFamilyText;
  }
}

.radio {
  //width: 0.5em;
  //height: 0.5em;
  //vertical-align: middle;
  //border: $border;
  //outline: none;
  //cursor: pointer;
  //border-radius: 50%;

  //-webkit-appearance: checkbox; /* deprecated - Chrome, Safari */
  //-moz-appearance: checkbox; /* Firefox */
  -webkit-transform: scale(1.2);
  -moz-transform: scale(0.8);
}

.radio:checked {
  //background-color: black;
  //border: 0;
  //background: url('https://image.flaticon.com/icons/png/512/462/462951.png') no-repeat center center;
  //background-size: 1.4em; //or "cover"
}

.lineItem {
  display: grid;
  grid-template-columns: $tableColumns;
  margin-left: $rhythm;

  & > .header {
    font-family: inherit;
    font-weight: bold;
  }
  & > div {
    text-align: center;
    font-family: $fontFamilyText;
    @extend %flex-center;
    border-left: $border;
    border-top: $border;
    min-width: $rhythm;
    &:nth-last-child(2) {
      border-top: 0;
      border-bottom: 0;
    }
    &:last-of-type {
      border: 0;
    }
    &:first-of-type, &:nth-child(4), &:last-of-type {
    }
  }
}

.deleteItem {
  @extend %flex-center;
  color: darkred;
  background: none;
  padding: 0;
}

.addItem {
  @extend %flex-center;
  color: darkgreen;
  background: none;
  padding: 0;
}

select {
  background-color: white;
  width: 30em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

select option {
  width: 30em;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[name=tag], textarea[name=notes] {
  border: $border;
  width: 42%;
}

input, textarea {
  padding-left: $rhythm / 6;
  border-width: 0; // same as "border-style: none"
  width: 100%;
  &[name=date], &[name=description] {
    text-align: left;
  }
  &[name=quantity] {
    text-align: center;
  }
  &[name=price] {
    text-align: right;
  }
}

textarea {
  padding: 0;
  overflow: hidden;
}

.row {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: $rhythm;
}
