@import 'main';

.lineItem {
  display: grid;
  grid-template-columns: $tableColumns;

  & > div {
    @extend %flex-center;
    padding: 0;
    border-left: 1px solid $tableBorderColor;
    border-top: 1px solid $tableBorderColor;
    width: 100%;
    min-width: $rhythm;
    &:first-of-type {
      padding: 0;
      border-left: none;
    }
    &:last-of-type {
      padding: 0;
    }
    &:first-of-type, &:nth-child(4), &:last-of-type {
      text-align: center;
    }
  }
}

.deleteItem {
  @extend %flex-center;
  color: $removeColor;
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

select {
  -webkit-appearance: button;
  background-color: white;
}

input, select {
  padding: $rhythm / 6;
  border-width: 0; // same as "border-style: none"
  width: 100%;
  &[name=date] {
    text-align: left;
  }
  &[name=description], &[name=quantity] {
    text-align: center;
  }
  &[name=price] {
    text-align: right;
  }
}
