@import 'main';

.invoice {
  margin: ($rhythm * 2) auto;
  max-width: $invoiceMaxWidth;
  border-width: 0;
}

.mainTitle {
  padding-top: 0;
  padding-bottom: $rhythm/2;
  margin-left: $sideMargin;
  margin-right: $sideMargin;
  font-weight: bold;
  font-size: 20pt;
}

.tableCaption {
  display: grid;
  margin-left: $sideMargin;
  margin-right: $sideMargin;
  margin-bottom: $rhythm / 2;

  grid-column-gap: 2px;
  .key {
    margin-top: $rhythm / 4;
    font-style: oblique;
    .value {
      font-style: normal;
    }
    .name {
      font-weight: bold;
    }
  }
}

.headers {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: $rhythm / 6;
  & > input {
    text-align: center;
  }
  .major {
    font-size: $fontSizeMajorHeading;
    font-weight: bold;
  }
  .label {
    font-style: oblique;
  }
}

.totalContainer {
  display: flex;
  flex-flow: row wrap;
}

.controls {
  display: grid;
  grid-template-columns: 4em 4em auto 0.5em 3em 3em 2em;
  grid-column-gap: 0.2em;
  justify-self: start;
}

.lineItems {
  margin-bottom: $rhythm * 4;
}

.rule {
  // margin: <top> <right> <bottom> <left>
  margin: -10pt $sideMargin*2.4 10px $sideMargin;
  border-top: 4px double;
  padding: 0;
}

.valueTable {
  margin-right: $sideMargin;
  margin-left: $sideMargin;
  border: 3px double;
  border-radius: $borderRadius;
  overflow: hidden;
  min-width: $invoiceMaxWidth / 3;
  max-width: $invoiceMaxWidth / 3;
  display: grid;
  grid-template-columns: 1.4em auto;
  & > .title {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: $rhythm / 4;
    font-size: 0.94em;
    font-style: oblique;
  }
  & > .label {
    align-items: center;
  }
}

.totalLine {
  display: grid;
  grid-template-columns: $tableColumns;
  margin-left: $rhythm;
  text-align: right;
  & > div {
    border-top: $border;
    border-bottom: $border;
    &:first-of-type {
      border-left: $border;
    }
    &:last-of-type {
      border-right: $border;
    }
  }
}

.note {
  margin: 0 $sideMargin $rhythm/4 $sideMargin;
  & > .text {
    font-size: $fontSizeNotes;
    font-family: $fontFamilyText;
  }
}

.radio {
  -webkit-appearance: checkbox;
  -transform: scale(0.9);
}

.lineItem {
  display: grid;
  grid-template-columns: $tableColumns;
  margin-left: $rhythm;

  & > .header {
    font-family: inherit;
    font-weight: bold;
  }
  & > div {
    text-align: center;
    font-family: $fontFamilyText;
    border-left: $border;
    border-top: $border;
    min-width: $rhythm;
    &:nth-last-child(2) {
      border-top: 0;
      border-bottom: 0;
    }
    &:last-of-type {
      border: 0;
    }
  }
}

.deleteItem {
  align-items: center;
  color: grey;
  padding: 0;
}

select option {
  overflow: hidden;
  text-overflow: ellipsis;
}

input[name=tag], textarea[name=notes] {
  border: $border;
  width: 42%;
}

input, textarea {
  padding-left: $rhythm / 6;
  border-width: 0; // same as "border-style: none"
  width: 100%;
  &[name=date], &[name=description] {
    text-align: left;
  }
  &[name=quantity] {
    text-align: center;
  }
  &[name=price] {
    text-align: right;
  }
}

textarea {
  padding: 0;
  overflow: hidden;
}

.row {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: $rhythm;
}

.invoiceId {
  font-size: 0.8em;
  font-weight: normal;
}

.calendar {
  width: 220px;
  position: absolute;
  left: 0px;
}
