# See https://help.github.com/ignore-files/ for more about ignoring files.
# dependencies
node_modules
package-lock.json

# production
build

# private
.env
project-*-export.json

# firebase
.firebase
.firebaserc

# images
public/images/*.signature.png
