/* https://github.com/jwebcat/tables-sass */
@import 'tables';

table {
  &:nth-of-type(1) {
    //@extend %table;
    @extend %table-bordered;
    @extend %table-condensed;
  }
}

tr:nth-child(even) {background: #bbbbbb}
tr:nth-child(odd) {background: #fffffff5}

select {
  //-moz-appearance:none; /* Firefox */
  //-webkit-appearance:none; /* Safari and Chrome */
  //appearance: none;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
