@charset "UTF-8";
.form {
  display: flex;
  padding: 1.2em;
  height: 100%;
}

.field {
  padding: 3px 0 3px 0;
  margin-top: 10px;
  margin-bottom: 5px;
  border: 1px solid grey;
  width: 360px;
}

.button {
  margin-top: 10px;
  width: 200px;
}
