@import 'normalize';

body {
  font-family: "DejaVuSerif", "FreeSans", "DejaVu Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

// https://lazamar.github.io/exdending-classes-within-media-queries-in-scss/
@media print {
  .no-print {
    visibility: hidden;
  }
}
