body {
  font-family: "DejaVuSerif", "FreeSans", "DejaVu Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

a { text-decoration: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

ul {
  list-style-type: none;
}

li {
  padding: 0.2em;
}

@media print {
  .no-print {
    visibility: hidden;
  }
}

// https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/
/* hide calendar on the narrow screen */
@media only screen and (max-width: 1196px) {
  .calendar {
    display: none;
  }
}
