@import 'normalize';

body {
  font-family: "DejaVuSerif", "FreeSans", "DejaVu Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

@media print {
  .no-print {
    visibility: hidden;
  }
}

// navigation
nav {
  margin-left: 8em;
}

nav a {
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
}

a[disabled], .disabled-link {
  pointer-events: none;
}
